.col {
    height: 80px;
}

.row {
    margin: 0;
}

body {
    background-color: rgb(235, 147, 235);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

.student-card{
    width: 18rem;

}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

  