{% extends 'base.html' %}
{% block content %}
    <h1>Happy Birthday</h1>
    <div class="row">
        <div class="col s1">Students</div>
        {% for assignment in cohort.assignment_set.all %}
            <div class="col s1">{{ assignment.name }}</div>
        {% endfor %}
    </div>
    {% for student in students %}
        <div class="row">
            <div class="col s1">{{student.name}}</div>
            {% for assignment in cohort.assignment_set.all %}
                {% for grade in grades %}
                    {% if grade.assignment.id == assignment.id and grade.student.id == student.id and grade.score %}
                        <div class="col s1">{{grade.score}}</div>
                    {% elif grade.assignment.id == assignment.id and grade.student.id == student.id and grade.score == None %}
                        <div class="col s1">
                            <form action="{% url 'add_score' grade.id cohort.id %}" method="POST">
                            {% csrf_token %}
                            <!-- Render the inputs -->
                            {{ grade_form.as_table }}
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}