{% extends 'base.html' %}
{% block content %}
    <h1>Happy Birthday</h1>
    <div class="row">
        <div class="col s1">Students</div>
        {% for assignment in cohort.assignment_set.all %}
            <div class="col s1">{{ assignment.name }}</div>
        {% endfor %}
    </div>
    {% for student in students %}
        <div class="row">
            <div class="col s1">{{student.name}}</div>
            {% for assignment in cohort.assignment_set.all %}

                <div class="col s1" style="border: 2px solid black;">
                    {%for tuple in new_tuples%}
                        {% if tuple.0 == assignment.id and tuple.1 == student.id %}
                            <form action="{% url 'add_score' cohort.id assignment.id student.id %}" method="POST">
                                {% csrf_token %}
                                <!-- Render the inputs -->
                                {{ grade_form.as_table }}
                            </form>
                        {%endif%}
                    {%endfor%}
                    {% for grade in grades %}
                        {% if grade.assignment.id == assignment.id and grade.student.id == student.id %}
                            {{grade.score}}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}